@using LunchLibrary.Models
@using System.Web;

@model IEnumerable<LunchLibrary.Models.Place>
@{
    Owner owner = ViewBag.Owner as Owner;
    Address address = ViewBag.Address as Address;

    List<Place> places = new List<Place>();
    places = Model.ToList();
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#savePlaceButton").click(function () {
            SavePlaceList();
        });
    });

    function SavePlaceList() {
        var rows = document.getElementById("inputPlaceTable").getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
        if (rows < 1) {
            alert("장소를 입력해주세요.");
            $("#savePlaceButton").prop("disabled", true);
            return false;
        }

        var jsonPlaceList = new Array();
        for (var i = 0; i < rows; i++) {
            var rw = parseInt(document.getElementById("inputPlaceTable").getElementsByTagName("tbody")[0].getElementsByTagName("tr")[i].id.replace("placeTR", ""));

            var Place = new Object();
            Place.Id = $("#placeId" + rw).val();
            Place.Name = $("#placeNameText" + rw).val();
            Place.Location = $("#placeLocationText" + rw).val();
            Place.AddressId = "@(address.Id)";
            Place.OwnerId = "@(owner.Id)";

            jsonPlaceList.push(Place);
        }

        var resultData = ExecuteAjax("POST", "/Lunch/PostPlace", "json", "application/json", JSON.stringify(jsonPlaceList));
        if (resultData) {
            location.href = '/Lunch/LunchList?id=@HttpUtility.UrlEncode(LunchLibrary.UtilityLauncher.ConvertGuidToBase64(owner.Id))' + "&addressId="+"@HttpUtility.UrlEncode(LunchLibrary.UtilityLauncher.ConvertGuidToBase64(address.Id))";
        }
        else {
            location.href = "/Home/Index";
         }
    }

    // 열 추가
    function AddPlaceInput() {
        var rows = document.getElementById("inputPlaceTable").getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
        var assembleText = '<tr id="placeTR' + rows + '">';
        assembleText += '<td><input type="text" id="placeNameText' + rows + '" class="form-control" placeholder="점심 장소 이름" /></td >';
        assembleText += '<td><input type="text" id="placeLocationText' + rows + '" class="form-control" placeholder="점심 장소 위치" /></td>';
        assembleText += '<td><button type="button" id="deletePlaceButton' + rows + '" class="deletePlaceButton btn btn-danger float-right" onclick="DeletePlaceInput(this);">제거</button></td>';
        assembleText += '</tr>';

        document.getElementById("inputPlaceTable").getElementsByTagName("tbody")[0].innerHTML += assembleText;
    }

    // 해당 열에 해당하는 장소 제거
    function DeletePlaceInput(BtnObject) {
        var rowCount = parseInt(BtnObject.id.replace("deletePlaceButton", ""));
        document.getElementById("placeTR" + rowCount).outerHTML = "";
    }
</script>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2">
        <h4>@address.Name</h4>
        <br />
        <h3>주변에 어떠한 장소가 있나요?</h3>
    </div>
</div>


<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2">
        <p><small>* 저장 시 자동으로 업데이트 됩니다.</small></p>
        <table id="inputPlaceTable" class="table">
            <thead>
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">위치</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr id="placeTR@(i)">
                            <td>
                                <input type="hidden" id="placeId@(i)" value="@(places[i].Id)" />
                                <input type="text" id="placeNameText@(i)" class="form-control" placeholder="점심 장소 이름"
                                       value="@(places[i].Name)" />
                            </td>
                            <td>
                                <input type="text" id="placeLocationText@(i)" class="form-control" placeholder="점심 장소 위치"
                                       value="@(places[i].Location)" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 offset-lg-2 offset-md-2" style="margin-top:10px;">
        <button type="button" id="addPlaceButton" class="btn btn-secondary btn-block" onclick="AddPlaceInput();">장소 추가</button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12" style="margin-top:10px;">
        <button type="button" id="savePlaceButton" class="btn btn-primary btn-block">장소 저장</button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12" style="margin-top:10px;">
        <a href="/Lunch/LunchList/@HttpUtility.UrlEncode(LunchLibrary.UtilityLauncher.ConvertGuidToBase64(owner.Id))" class="btn btn-secondary btn-block">뒤로 이동</a>
    </div>
</div>
